<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/resources/extjs/resources/css/ext-all-gray.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/basic.css" />
    {% block css %}{% endblock %}
    <script type="text/javascript" src="/resources/extjs/ext-all.js"></script>
    <script type="text/javascript" src="/resources/extjs/locale/ext-lang-zh_CN.js"></script>
    {% block js %}{% endblock %}
    {% block meta %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>